*{
	color: aliceblue;
	/* background: #000; */
	/* font-family: 'Outfit', sans-serif; */
	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Roboto', sans-serif; */
	/* line-break: ; */
	/* font-family: Arial, sans-serif; */
	
}




html{
	background-color: #000;
}

span:before {
	content: '';
	color: red; /* Optional: Change the color if needed */
  }

.container{
	display: flex;
	flex-direction: column;
	text-underline-offset: 0.5rem;
}

select{
	background: black;
	color: white;
	font-size: 1.5rem;
	/* text-align: center; */
	width: auto;
	/* margin: 2px auto; */
	/* text-decoration: underline; */
	/* text-underline-offset: 0.5rem; */
	/* text-decoration-color: rgb(255, 255, 48); */
}

option{
	background: #000;
	color: #fff;
	font-size: 1.5rem;
	/* text-align: center; */
	/* text-decoration: underline; */
	/* text-underline-offset: 0.5rem; */
	/* text-decoration-color: rgb(255, 255, 48); */
}

pre{
	/* text-align: center; */
	font-family: 'Droid Sans Mono', "Cascadia Mono", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.3rem;
	line-height: 3rem;
	/* font-size: 2rem; */
	font-weight: 700;
	font-size: 2rem;
} 

h1{
	text-align: center;
	font-size: 3rem;
}

.controls
{
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	/* flex-direction: column; */
	/* margin: 0 auto; */
	width: 80%;
}

.correct
{
	/* background: #000; */
	color: rgb(154, 251, 154);
	text-decoration: underline 1px;
}
.wasIncorrect
{
	background: #685656;
	text-decoration: underline dotted 1px rgb(154, 251, 154);
	/* color: rgb(196, 255, 168); */
}
.incorrect
{
	background: rgb(199, 0, 0);
	color: rgb(250, 206, 198);
	text-decoration: underline wavy 1px rgb(199, 0, 0);
}
span:focus{
	/* border: 3px solid white ; */
	outline: none;
}
.current
{
	border: none;
	background: rgb(0, 0, 156);
	color: beige;
	text-decoration: underline;
}
#typ
{
	margin: auto;
	width: 80%;
	white-space: pre-wrap;
	text-wrap: balance;
	padding: 10px;
	border-radius: 10px;
	border: rgb(252, 247, 193) double 8px;
}
.btn
{
	padding: 5px 15px;
	margin: 4px auto;
	background-color: darkgray;
	color: #000;
	font-weight: bold;
	border-radius: 30px;
	border: rgb(142, 142, 1) solid 1px;
	white-space: pre-line;
}
.btn:hover, .btn:focus
{
	outline: rgb(255, 255, 48) solid 2px;
	outline-offset: 2px;
}
.para{
	display: none;
}